@import url(../../css/main.css);

body {
    transform: scale(1); /* Вернуть исходный масштаб */
    transform-origin: top left; /* Устанавливает точку отсчета для масштабирования */
    width: 100%; /* Установите ширину на 100% */
    overflow-x: hidden; /* Скрывает горизонтальную прокрутку */
}

header {
    background-color: rgb(92, 123, 138,1); /* Темно-синий цвет */
    height: 75px; /* Высота панели */
    display: flex; /* Используйте flexbox для выравнивания элементов */
    align-items: center; /* Центрирование элементов по вертикали */
    padding: 0 1rem; /* Отступы по бокам */
    position: fixed; /* Фиксированное положение */
    top: 0; /* Прикрепить к верхней части страницы */
    left: 0; /* Прикрепить к левой части страницы */
    right: 0; /* Прикрепить к правой части страницы */
    z-index: 1000; /* Убедитесь, что панель выше других элементов */
    color: white; /* Цвет текста на панели */
    font-weight: 400; /* Установите менее жирный текст */
    font-size: 14px; /* Уменьшите размер шрифта */
}

.header-logo {
    margin: 0 auto; /* Центрирование логотипа */
}

.header-logo img {
    max-height: 80px; /* Установите высоту логотипа на 80 пикселей */
    width: auto; /* Автоматическая ширина для сохранения пропорций */
    filter: invert(1); /* Инвертирование цвета логотипа */
    margin-top: -5px; /* Поднимите логотип на 5 пикселей выше */
}

nav a {
    color: white; /* Цвет ссылок в навигации */
    text-decoration: none; /* Убираем подчеркивание */
    margin: 0 15px; /* Увеличьте отступы между ссылками */
    font-weight: 400; /* Установите менее жирный текст для ссылок */
    padding: 10px; /* Добавьте отступы вокруг ссылок */
}

nav a:hover {
    text-decoration: underline; /* Подчеркивание при наведении */
    color: rgb(172, 135, 66);
}

main {
    margin-top: -0px; /* Установите отступ сверху для основного контента, чтобы он начинался на 30 пикселей выше */
    padding: 20px 0; /* Добавьте 20 пикселей отступа сверху и снизу для основного контента */
}

.content {
    text-align: left;
    font-size: 14px; /* Уменьшите размер шрифта для основного текста */
}

.uptitle {
    font-weight: 600;
    margin-bottom: 2em;
}

.title {
    font-weight: 800;
    font-family: "Circe Bold";
    font-size: 16px; /* Уменьшите размер шрифта для заголовков */
}

.subtitle {
    font-weight: 600;
    margin-bottom: 2em;
    color: var(--card-title-color);
    font-size: 14px; /* Уменьшите размер шрифта для подзаголовков */
}

.content-wrapper {
    display: flex;
    gap: 2rem;
    width: 100%;
}

.text-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem; /* Увеличен отступ */
    padding-left: 30px; /* Увеличьте отступ слева для текста */
    padding-right: 30px; /* Увеличьте отступ справа для текста */
}

.image-content {
    flex: 1;
    position: relative;
    min-height: 300px; 
    display: flex; 
    padding: 0 0.5rem;
    justify-content: center;
    overflow: hidden; /* Добавлено для предотвращения выхода изображения за пределы контейнера */
}

.image-content img {
    width: 100%;
    height: auto; /* Изменено на auto для сохранения пропорций */
    object-fit: cover; /* Сохраняет пропорции и заполняет контейнер */
    border-radius: 4px;
    max-height: 400px; /* Увеличьте максимальную высоту изображения */
}

.image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
    padding: 15px;
    justify-content: center;
}

.image-gallery img {
    border-radius: 15px;
    width: 100%;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s;
}

.image-gallery img:hover {
    transform: scale(1.03);
}

body.modal-open {
    overflow: hidden;
    height: 100%;
    position: relative;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: auto;
}

.modal-content {
    display: block;
    margin: auto;
    max-width: 90%;
    max-height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #ccc;
}

@media (max-width: 768px) {
    .content-wrapper {
        flex-direction: column; 
    }
    
    .image-content {
        order: 2; 
        min-height: 200px; 
    }
    
    .text-content {
        order: 1; 
    }
    
    .image-content img {
        position: relative; 
    }
}
